* {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 30px;
}

.text-dark {
    color: #131313;
}

.text-gray {
    color: #424242;
}

.text-lightgray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
}


/* ------------shared design ends */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;

}

.banner {
    margin-top: 50px;
}

.banner-image {
    width: 100%;
    margin-top: 50px;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner .banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
    line-height: 26px;
}

#feature {}

.feature-content {
    max-width: 1440px;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-description {
    margin-left: 70px;
    max-width: 537px;
}

.feature-title {
    font-size: 45px;
    color: #727272;
    font-weight: 500;

}

.feature-title .dark {
    font-weight: 700;
    color: #131313;
}

.feature-title .orange {
    font-weight: 700;
    color: #FF900E;
}

.feature-text {
    font-size: 1rem;
    margin: 24px 0;
}

#facts {
    max-width: 1440px;
    margin: 0 auto;
}

.facts-title {
    margin: 50px 0;
}

.facts-title h3 {
    font-size: 45px;
}

.facts-title p {
    margin-top: 24px;
    font-size: 1rem;
    line-height: 26px;
    max-width: 542px;
}

.facts-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    max-width: 1340px;
    gap: 124px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.facts-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.facts-box img {
    margin-top: 45px;
}

.facts-box h4 {
    font-size: 45px;
    margin: 10px;
    color: #424242;
}

.facts-box p {
    margin-bottom: 60px;
    font-size: 20px;
    color: #727272;
}
.sponsor-content {
    text-align: center;
    margin: 0 auto;
}
.sponsor-content h2 {
    font-size: 2.8rem;
    color: #131313;
}
.sponsor-content p {
    font-size: 1rem;
    color: #727272;
    max-width: 542px;
    margin: 24px auto;
}
.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    margin-top: 50px;
}
.sponsors img {
    
}
footer {
    margin: 130px auto;
    background-color: #FFF4E7;
}
footer p {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #424242;
}


/* ------------------responsive------------- */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .feature-content {
        flex-direction: column;
    }

    .feature-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-description,
    .banner-content {
        margin: 10px;
        max-width: 100%;
    }

    #facts {
        max-width: 100%;
    }

    .facts-title {
        margin: 20px 0;
    }

    .facts-title p {
        max-width: 100%;
    }

    .facts-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        gap: 20px;
        margin-bottom: 10px;
    }

}